.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: var(--MealItemForm-form-a2);
    border: 1px solid var(--MealItemForm-form-a2);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: var(--MealItemForm-form-e0);
    border-color: var(--MealItemForm-form-e0);
}